body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.recipe-container {
    height: 100%;
    width: 75%;
    display: flex;
    margin-left: 600px;
}
.recipe-details form button {
    align-items: center; /* vertically */
    justify-content: center; /* horizontally */
    display: block;
    width: 50%;
    padding-bottom: 10px;
    margin: 10px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
}
.recipe-details form button:hover {
    background-color: #45a049;
}
.recipe-ingredients, .recipe-instructions{
    list-style: none;
}
h1 {
    font-size: 24px;
}
h4 {
    font-size: 18px;
}
#search-bar-container {
    display: flex; /* Use flexbox */
    align-items: center; /* Align items vertically */
    margin-right: 20px; /* Adjust margin */
}
#search-bar {
    width: 200px; /* Adjust width */
    padding: 5px 10px; /* Adjust padding */
    border: 1px solid #ccc; /* Add border style */
    border-radius: 5px; /* Add border radius for rounded corners */
}
/* Align the search bar to the right */
#search-bar-container {
    margin-left: 1600px;
    display: inline-block;
}
/* Adjust alignment and size of the search button */
#search-btn {
    height: 100%;
    padding: 5px 10px;
    border: none;
    background-color: #007bff; /* Button background color */
    color: white; /* Button text color */
    border-radius: 5px; /* Add border radius for rounded corners */
    cursor: pointer;
}
/* Add hover effect to the search button */
#search-btn:hover {
    background-color: #0056b3; /* Hover background color */
}
.rounded-image {
    max-width: 50%; /* Limit image width to container width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Apply rounded corners */
    margin-bottom: 10px; /* Add some space between images */
}
/* Add this CSS to your existing stylesheet or create a new one */

/* Adjust width of the form container */
.recipe-container {
    max-width: 800px; /* Adjust the value as needed */
    margin: 0 auto; /* Center the form container */
}

/* Style form elements */
#recipe-form {
    display: flex;
    flex-direction: column;
}

#recipe-form label,
#recipe-form input,
#recipe-form textarea,
#recipe-form button,
#recipe-form #categories {
    margin-bottom: 10px; /* Adjust spacing between form elements */
}

/* Adjust spacing for categories */
#categories label {
    display: block;
}

/* Ensure checkbox input is not touching its label */
#categories input[type="checkbox"] {
    margin-right: 5px;
}
